<%- include('includes/head', {pageTitle: 'Error Occurred!'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>  
    <h1 class="error-occured">Nisi ulogovan!</h1>
    <p class="error-occured">Ako nisi registrovan pritisni <a href="/register">ovdje.</a></p>
    <p class="back-to-safety"><a href="/login" class= "btn">Uloguj se.</a></p>
  </main>
  <%- include('includes/footer') %>
</body>
