<%- include('includes/head', {pageTitle: 'Error Occurred!'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>  
    <h1 class="error-occured">Upps, došlo je do greške!</h1>
    <p class="error-occured">Nažalost, došlo je do greške - probaj malo kasnije. </p>
    <p class="back-to-safety"><a href="/" class= "btn">Vrati se na sigurno.</a></p>
  </main>
  <%- include('includes/footer') %>
</body>
