body {
    height: 100vh;
    background-image: url("../img/login.jpg");
    background-size:cover;
    background-position: center ;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }
  label {
    margin-top: 1px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    display: block; 
    margin: 10px 0; 
  }
  input,
  button {
  width: 100%; 
  box-sizing: border-box; 
  margin: 5px 0; 
}
  input{
    margin-top: 0.1rem;
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px;
  }
  h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
  }
  p{
    color: white;
    text-align: center;
  }
  div{
    display: inline;
    
  }
  button{
    background-color: #00FFFF;
    cursor: pointer;
    border: 1px solid #012169;
    width: 40%;
    border-radius: 1.5px;
    padding: 3px;
  }
  button:hover,
  button:active{
    background-color:#26c5c5 ;
  }
  section {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .alert {
    background-color: #ffcccc; 
    color: #990000;
  }
  .alert p {
    color: black;
    font-size: 14px;
  }
  
  .success {
    background-color: #ccffcc; 
    color: #006600; 
    margin-bottom: auto;
  }
  .success h3 {
    margin-bottom: auto;
  }
  .success p{
    margin-top: 3px;
    color: black;
    font-size: 14px;
  }

  