body{
    height: 100vh;
    background-image: url("../img/login.jpg");
    background-size:cover;
    background-position: center ;
}
.error-container{
    max-width: 400px;
    margin: auto ;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}