<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Title -->
	  <title>Greska  | Library - ICT Cortex student project</title>
	  <link rel="shortcut icon" href="img/library-favicon.ico" type="image/vnd.microsoft.icon" />
    <style>
      body {
        background-color: #0a192f;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }

	  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-wrapper {
    margin-bottom: 50px;
  }
      .display-5 {
        color: #00bfff;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      .display-1 {
        color: #00bfff;
        font-size: 6rem;
        margin-bottom: 1rem;
      }

      .btn {
        background-color: #00bfff;
        border: none;
        border-radius: 0.25rem;
        color: #fff;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #0077b6;
      }

	  .button-wrapper {
    position: absolute;
    bottom: 0;
  }

  .text-wrapper {
    margin-top: 100px;
  }
    </style>
  </head>
  <body>
	<div class="container vh-100 d-flex flex-column align-items-center">
		<div class="text-wrapper">
		  <h1>GRESKA !</h1>
		  <div class="display-5">Oops, nema te strane....</div>
		</div>
		<div class="button-wrapper">
		  <a href="/" class="btn">Home</a>
		</div>
	  </div>
  </body>
</html>